<h2>Add a monument to our database</h2>
<form (submit)="newArch()">
  <p>Name <input type="text" name="name" [(ngModel)]="arch.name" /></p>
  <p>Year constructed <input type="number" name="yrbuilt" [(ngModel)]="arch.yrbuilt" /></p>
  <p>Location <input type="text" name="location" [(ngModel)]="arch.location" /></p>
  <p>Description <input type="text" name="desc" [(ngModel)]="arch.desc" /></p>
  <input type="submit" value="Archive" />
</form>

{{ archs | json }}



<!-- <router-outlet></router-outlet> -->